<!DOCTYPE HTML>
<html>
    <head>
        {{ include('head.html') }}
    </head>
    <body>
        <section class="main">
            {{ include('header.html') }}
            {{ include('navigation.html') }}
            <div class="content content_block">
                <h1>{{ title }}</h1>
                <p>{{ text|nl2br|parse_bb|raw }}</p>
            </div>
            {{ include('footer.html') }}
        </section>
    </body>
</html>