<html>
    <!DOCTYPE html>
    <head>
    {{ include('head.html') }}
    <title>{{ item.display_name }} - Интернет магазин ShoeZzilla</title>
    <link rel="stylesheet" href="/styles/shoes_show_style.css"/>
    <script type="text/javascript" src="/scripts/zoomer/jquery.zoom.min.js"></script>
    </head>
    <body>
        <section class="main">
        {{ include('header.html') }}
        {{ include('navigation.html') }}
        <div class="content">
            <section class="images">
                <span id="ext">
                    <img class="product_photo" id="photo_show" src="/shoes/photos/thumbnails/{{ item.image_path }}/{{ item.image_head }}_800.jpg"/>
                    <img id="loading" class="product_photo hidden" src="/images/loading.gif"/>
                </span><br/>
                {% for photo in 1..5 %}
                    <img class="photo_small product_photo" id="{{ item.image_path }}_{{ photo }}" src="/shoes/photos/thumbnails/{{ item.image_path }}/{{ item.image_path }}_{{ photo }}_100.jpg">
                {% endfor %}
            </section>
            <section class="description">
                <section id="desc_r">
                    <h1 id="ss_s">{{item.display_name}}</h1>{% if admin %}[<a href="/admin/edit_shoes.php?item_id={{ item.id }}">edit</a>]{% endif %}
                    <section class="allow_sizes">
                        {% for i in item.size_min .. item.size_max %}
                        <button {% if not item.size_data[i] %}disabled="disabled" title="Нет в наличии"{% endif %} class="size_choser important_lower_b" value="{{ i }}">{{ i }}<sup></sup></button>
                        {% endfor %}
                        <a href="/size_info">Как выбрать?</a><br/>
                        <i>* Ctrl - для выбора нескольких размеров</i>
                    </section>
                        {% if item.description %}
                            <p>{{ item.description|striptags|nl2br|parse_bb|raw }}</p>
                        {% endif %}
                        <hr/>
                        <table>
                            <tbody>
                                <tr>
                                    <th>Размеры</th>
                                    <td>{{ item.size_min }}&mdash;{{ item.size_max }}</td>
                                </tr>
                                <tr>
                                    <th>Отличительный цвет</th>
                                    <td>{{ tr(item.color) }}</td>
                                </tr>
                                <tr>
                                    <th>Сезон</th>
                                    <td>{{ tr(item.season) }}</td>
                                </tr>
                                <tr>
                                    <th>Категория</th>
                                    <td>{{ tr(item.category) }}</td>
                                </tr>
                                <tr>
                                    <th>Пол</th>
                                    <td>{{ tr(item.gender) }}</td>
                                </tr>
                                <tr>
                                    <th>Бренд</th>
                                    <td>{{ item.brand }}</td>
                                </tr>
                            </tbody>
                        </table>
                            <section id="another_v" class="group">
                            {% if additional|length > 1 %}
                            <span>Доступны другие варианты этой модели:</span><br/>
                            {% for ad in additional %}
                                {% if ad.id != item.id %}
                                <a style="text-decoration: none" href="/shoes/catalog.php?item_id={{ ad.id }}">
                                    <img class="product_photo" src="/shoes/photos/thumbnails/{{ ad.image_path }}/{{ ad.image_head }}_100.jpg"/>
                                </a>
                                {% endif %}
                            {% endfor %}
                            {% endif %}
                        </section>
                </section>
                <section id="price_cart">
                    {% if item.size_data|array_sum > 0 %}
                    <section id="price" title="{{ item.price_retail}} гривен">{{ item.price_retail }}&#8372;</section>
                    {% if not has_in_cart %}
                    <button id="pust_to_cart" class="important_b"><i class="fa fa-fw fa-cart-arrow-down"> </i>В корзину</button>
                    {% else %}
                    <button id="pust_to_cart" class="important_lower_b"><i class="fa fa-fw fa-check-circle"> </i>Добавлено</button>
                    {% endif %}
                    <p id="size_error_message" class="error" hidden="hidden"><b>Ошибка!</b><br/>Вы не выбрали ниодного размера</p>
                    {% else %}
                    <section id="price" class="error" title="Нет в наличии" style="color: #5f3f3f; font-size: 1.5em;">
                        <span>Не доступно</span>
                    </section>
                    {% endif %}
                </section>
                <section>
                </section>
            </section>
        </div>
        {{ include('footer.html') }}
        </section>
        <script type="text/javascript">
            $("#ext").zoom({on: "grab"});
        </script>
        <script type="text/javascript">
            ctrl = false;
            shift = false;
            
            $('img#photo_show').on('load', function () {
                $(this).animate({opacity: 1}, 200);
                $("img#loading").addClass("hidden");
            });
            
            $(".description").keydown(function (event) {
                if(event.keyCode === 17) {
                    ctrl = true;
                }
                else if(event.keyCode === 16) {
                    shift = true;
                }
            });
            
            $(".description").keyup(function (event) {
                if(event.keyCode === 17) {
                    ctrl = false;
                }
                else if(event.keyCode === 16) {
                    shift = false;
                }
            });
            
            $(".photo_small").click(function () {
                var img = $(this);
                var id = img.attr("id");
                $("img#photo_show").animate({opacity: 0.25}, 100, function () {
                    var img_show = $("#photo_show");
                    img_show.attr("src", "/shoes/photos/thumbnails/{{ item.image_path }}/" + id + "_800.jpg");
                    $("#ext").zoom({on: "grab", url: $("#photo_show").attr("src")});
                    var limg = $("img#loading");
                    limg.removeClass("hidden");
                    limg.css({
                        left: (img_show.width() / 2) - limg.width() / 2,
                        top: (img_show.height() / 2) - limg.height() / 2
                    });
                });
                
                $(".photo_small").removeClass("chosed");
                img.addClass("chosed");
            });
            
            $(".size_choser").click(function () {
                var button = $(this);
                if(!ctrl && !shift) {
                    $("button.chosed").addClass("size_choser");
                    $("button.size_choser").removeClass("chosed").data({count: 0});
                    $("button.size_choser").children("sup").text("");
                }
                else if(shift) {
                    var b = false;
                    $("button").each(function () {
                        if($(this).val() === button.val()) {
                            return false;
                        }
                        if((b || $(this).hasClass("chosed")) && !$(this).attr("disabled")) {
                            $(this).addClass("chosed");
                            $(this).removeClass("size_choser");
                            $(this).data({count: (b ? ($(this).data().count + 1) : $(this).data().count)});
                            $(this).children("sup").text($(this).data().count);
                            if(!b) b = true;
                        }
                    });
                }
                button.addClass("chosed");
                button.removeClass("size_choser");
                button.data({count: button.data().count + 1});
                button.children("sup").text(button.data().count);
            });
            
            $("button#pust_to_cart").click(function () {
                var sizes = {};
                var button = $(this);
                $("button.chosed").each(function () {
                    var count = $(this).data().count;
                    sizes[$(this).val()] = count;
                });
                if(Object.getOwnPropertyNames(sizes).length > 0) {
                    $("p#size_error_message").slideUp("fast");
                    $.getJSON("/cart.php", {
                        session_id: $.cookie('session_id'),
                        method: "ADD",
                        item_id: {{ item.id }},
                        sizes: JSON.stringify(sizes)
                    })
                    .done(function (msg) {
                        notify_cart_count(msg.all_count);
                        $("button#pust_to_cart").removeClass("important_b").addClass("important_lower_b").text("Добавлено").prepend("<i class=\"fa fa-fw fa-check-circle\"> </i>");
                        $("button.chosed sup").text("");
                        $("button.chosed").addClass("size_choser").removeClass("chosed");
                    });
                }
                else {
                    $("p#size_error_message").slideDown("fast");
                }
            });
        </script>
    </body>
</html>
    