<td>{{ loop.index }}</td>
<td><a href="/shoes/catalog.php?item_id={{ item["node"].ID }}">
        <img class="product_photo" src="/shoes/photos/{{ item["node"].img_code }}/{{ item["node"].img_main }}_100.jpg"></a></td>
<td>{{ item["node"].display_name }}</td>
<td>{{ item["node"].price }} грн.</td>
<td>{{ item.count }} шт.</td>
<td>{% for size, count in item.size_data %} {{ size }}: {{ count }} шт.<br/>{% endfor %}</td>
<td>{{ item.count * item["node"].price}} грн.</td>