<html>
    <!DOCTYPE>
    <head>
        {{ include('head.html') }}
        <link rel="stylesheet" href="/styles/shopcart_style.css">
    </head>
    <body>
        <section class="main">
            {{ include('header.html') }}
            {{ include('navigation.html') }}
            <div class="content">
                <section id="cart_view" class="content_block">
                {% if cart %}
                <h2>Ваша корзина покупок</h2>
                <hr/>
                <table border="1">
                    <caption>Список выбраных товаров</caption>
                    <thead>
                        <tr><th>№</th><th></th><th>Название</th><th>Цена</th><th>Колличество</th><th>Размеры</th><th>Сумма</th><th></th></tr>
                    </thead>
                    <tfoot>
                        <tr><th></th><th></th><th></th><th></th><th>{{ cart.item_count }} шт.</th><th>Итого</th><th>{{ cart.price_sum }} грн.</th></tr>
                    </tfoot>
                    <tbody>
                        {% for item in items %}
                            <tr id="{{ item["node"].ID }}}"><td>{{ loop.index }}</td>
                                <td><a href="/shoes/catalog.php?item_id={{ item["node"].ID }}">
<img class="product_photo" src="/shoes/photos/{{ item["node"].img_code }}/{{ item["node"].img_main }}_100.jpg"></a></td>
                                <td>{{ item["node"].display_name }}</td>
                                <td>{{ item["node"].price }} грн.</td>
                                <td>{{ item.count }} шт.</td>
                                <td>{% for size, count in item.size_data %} {{ size }}: {{ count }} шт.<br/>{% endfor %}</td>
                                <td>{{ item.count * item["node"].price}} грн.</td>
                                <td><button id="{{ item["node"].ID }}" class="remove"><img src="/images/remove_red_16.png"></button></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <button class="important_b">Оформить покупку</button>
                {% else %}
                    <h2>Вы еще ничего не выбрали</h2>
                {% endif %}
                </section>
            </div>
            {{ include('footer.html') }}
        </section>
        <script type="text/javascript">
            $("button.remove").click(function () {
                var id = $(this).attr("id");
                $.getJSON("/cart.php", {
                    method: "REMOVE",
                    session_id: $.cookie("session_id"),
                    item_id: id
                }).done(function (json) {
                    if(json.done) {
                        location.reload();
                    }
                });
            });
        </script>
    </body>
</html>
        
                
